{# base template #}
{% set active_page = pageName|default('home') %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="The {{ active_page }} page for McGovern's Garage, Drogheda, specialising in car sales and servicing.">
    <meta name="author" content="web dev by neil mcmahon.">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {# theme color for mobile browsers #}
    <meta name="theme-color" content="#242E38">
    {# verification for google search #}
    <meta name="google-site-verification" content="Y9NTMlHYVjPrn7gxaTJfOD-iR_-C8p6uuz1O87OSa64" />

    <title>McGoverns Garage |{% block title %}{% endblock %} | Car Sales and Service in Drogheda since 1979.</title>
    {# stop the request for the favicon #}
    {#<link rel="apple-touch-icon" href="car-152-232990.png">#}


    <link rel="stylesheet" href="{{ app.request.basepath }}/css/uikit.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css//components/sticky.min.css">
    {#<link rel="stylesheet" href="{{ app.request.basepath }}/css/main.css">#}
    <link rel="stylesheet" href="{{ app.request.basepath }}/build/css/prefix-main.css">

    {# site fonts #}
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">


</head>
<body class="site">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<main class="site-content">

    {# the navbar #}
    <nav id="main-nav" class="uk-navbar" data-uk-sticky>
        {% block navbar %}
            {% include 'navbar.html.twig' %}
        {% endblock %}
    </nav>

    {# content unique to every page #}
    {% block unique_page_content %}
    {% endblock %}

    {# additional content unique to home page #}
    {% block home_panels %}
    {% endblock %}

    {# the live search input box #}
    {% block search %}
        <div class="uk-container uk-container-center uk-margin-large-top uk-margin-large-bottom">
            <div class="uk-panel uk-panel-box uk-panel-header uk-text-center search-box">
                <h3 class="uk-panel-title">Search</h3>
                <p>use our search feature to quickly look up in-stock cars.</p>
                <p>(works best if you try a car make e.g. Kia)</p>

                <form class="uk-form">
                    <div class="uk-form-icon uk-contrast">
                        <i class="uk-icon-search-plus"></i>
                        <input type="text" onkeyup="showResult(this.value)">
                    </div>
                    <div>
                        <ul class="dropdown-content">
                            <li id="livesearch"></li>
                        </ul>
                    </div>
                </form>

            </div>
        </div>
    {% endblock %}

</main><!-- end main div -->

{# the footer #}
<footer class="uk-grid footer">

    {% include 'footer.html.twig' %}

</footer>

{# javascript functions #}
{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/js/uikit.min.js"></script>
    <script src="{{ app.request.basepath }}/js/components/sticky.min.js"></script>
    <script src="{{ app.request.basepath }}/js/components/grid.min.js"></script>
    <script src="{{ app.request.basepath }}/js/components/notify.min.js"></script>
    <script src="{{ app.request.basepath }}/js/components/lightbox.min.js"></script>
    <script src="{{ app.request.basepath }}/js/ajax.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-70929080-2', 'auto');
        ga('send', 'pageview');

    </script>
{% endblock %}
</body>
</html>
