{# contact page with map and form #}
{% extends 'base.html.twig' %}

{% set active_page = 'contact' %}

{% block title %}
    Contact
{% endblock %}
{% block unique_page_content %}
<div class="uk-grid">
    <div class="uk-width-medium-4-5 uk-container-center uk-panel">
        <div class="uk-panel uk-panel-box uk-panel-header heading-panel">
            <h1 class="uk-panel-title">Contact Us</h1>

            {#<script src="https://www.szablonypremium.pl/google-maps-authorization.js?id=6523140b-6854-3740-02d0-8835bbdcc74b&c=embed-map-code&u=1475191193" defer="defer" async="async"></script>#}


            {% if sent == true %}
                <p class="uk-medium-width-1-2 uk-text-center">Thanks for getting in touch! We'll get back to you as soon as we can.</p>
            {% else %}

                <p>If you would like to get in touch with us about a car we have in stock or even to enquire about a service,
                    fill in our contact form and we'll be back in touch with you as soon as possible. If you are availing of our current promotion,
                    just mention it in the message.
                </p>

                <div class="form">
                    <form class="uk-form uk-form-horizontal" action="/contact" method="post">

                        {{ form_start(form) }}
                        {{ form_errors(form) }}

                        <div class="uk-form-row">
                            {{ form_label(form.name, 'Name:', { 'label_attr': {'class': 'uk-form-label'} }) }}
                            <div class="uk-form-controls">
                                {{ form_widget(form.name) }}
                                {{ form_errors(form.name) }}
                            </div>
                        </div>

                        <div class="uk-form-row">
                            {{ form_label(form.email, 'Email:', { 'label_attr': {'class': 'uk-form-label'} }) }}
                            <div class="uk-form-controls">
                                {{ form_errors(form.email) }}
                                {{ form_widget(form.email) }}
                            </div>
                        </div>

                        <div class="uk-form-row">
                            {{ form_label(form.message, 'Message:', { 'label_attr': {'class': 'uk-form-label'}} ) }}
                            <div class="uk-form-controls">
                                {{ form_errors(form.message) }}
                                {{ form_widget(form.message) }}
                            </div>
                        </div>

                        <div class="form-control">
                            <input class="uk-button uk-button-primary" type="submit" name="submit"/>
                        </div>

                        {{ form_end(form) }}

                    </form>
                </div>
            {% endif %}
        </div>
        </div>
    </div>

{% endblock %}

