{# the sales page. Should contain an information block and panels with car info linking to individual car info #}
{% extends 'base.html.twig' %}
{% set active_page = 'repairs' %}
{% block title %}
    {{ active_page }}
{% endblock %}
{% block unique_page_content %}
<div class="uk-grid">
        <div class="uk-width-medium-4-5 uk-container-center uk-panel uk-margin-large-bottom">
            <div class="uk-panel uk-panel-box uk-panel-header">
                <h2 class="uk-panel-title">Service</h2>

                <p>The full array of garage services are available including the refit and repair of timing belts, clutches, brake pads, tracking, exhausts, drive belts, etc.</p>
                <ul class="uk-list uk-list-space">
                   <li>Pre NCT Service and Examination</li>
                    <li>Standard Car Service (Oil, Filters, etc.)</li>
                    <li>DOE Work For Commercial Vehicles</li>
                    <li>Various Mechanical Repairs & Fittings</li>
                </ul>

            </div>
        </div>

    <div class="uk-width-medium-4-5 uk-container-center uk-panel uk-margin-large-bottom">
        <div class="uk-panel uk-panel-box uk-panel-header">
            <h2 class="uk-panel-title">Accident Repairs</h2>

            <p> An expert crash repair or accident repair service is also available which is EPA approved. This professional service is carried out at very competitive prices and includes the complete array of car body repairs
                e.g. panel beating, re-spray, car body paint, scratches & scuffs, etc. Car windscreens, windows and mirrors will also be replaced.</p>


        </div>
    </div>


    <div class="uk-width-medium-4-5 uk-container-center uk-panel uk-margin-large-bottom">
        <div class="uk-panel uk-panel-box uk-panel-header">
            <h2 class="uk-panel-title">Tyres</h2>

            <p>We offer the keenest prices on new car tyres in the Drogheda and South Louth area. We have all the major car tyre names in stock, from premium to more economic brands.</p>
            <ul class="uk-list uk-list-space">
                <li>Car Tyre Puncture Repair While You Wait ( Monday to Saturday)</li>
                <li>Quality Brands e.g. Goodyear, Pirelli, Z Tech, Dunlop & Michelin</li>
                <li>Economic Brands such as Pace & Futura</li>
                <li>Great Quality & Great Value</li>
            </ul>
        </div>
    </div>

    <div class="uk-width-medium-4-5 uk-container-center uk-panel uk-margin-large-bottom">
        <div class="uk-panel uk-panel-box uk-panel-header">
            <h2 class="uk-panel-title">Brand Partners</h2>

            <p>We use the best quality branded parts while doing your service to ensure your car gets the best possible care..</p>

                    <img src="{{ app.request.basepath }}/images/logo-filtron.png" alt="filtron_logo_pic">
                    <img src="{{ app.request.basepath }}/images/logo-valeo.png" alt="valeo_logo">
                    <img src="{{ app.request.basepath }}/images/comma.png" alt="comma_logo">
                    <img src="{{ app.request.basepath }}/images/logo-pirelli.jpg" alt="pirelli_logo">

        </div>
    </div>
</div>
{% endblock %}
