{% extends 'base.html.twig' %}

{% set active_page = pageName %}

{% block title %}
    {{ active_page }}
{% endblock %}



{% block unique_page_content %}
    <div class="uk-grid">
        <div class="uk-width-medium-4-5 uk-container-center uk-panel">
            <div class="uk-panel uk-panel-box uk-panel-header heading-panel">
                <h1 class="uk-panel-title">Sales</h1>
                <p>We stock a good range of affordable, quality used cars. Have a look at what we currently have in
                    stock. Our stock is fully serviced and NCT'd before every sale</p>
            </div>
        </div>
    </div>


    <div class="uk-grid-width-medium-1-4 uk-grid-width-1-2 uk-grid-small" data-uk-grid>


        {% for image in images %}
            <a href="{{ app.request.basepath }}/{{ image.imagePath|raw }}" data-lightbox-type="image"
               data-uk-lightbox="{group:'group1'}" title="{{ cars.make }} {{ cars.model }}">

                <img class="uk-thumbnail" src="{{ app.request.basepath }}/{{ image.imagePath|raw }}" width="800"
                     height="600" alt="{{ image.imagePath|trim('.jpg') }}_picture">
            </a>
        {% endfor %}


    </div>
    <div class="uk-container uk-container-center uk-text-center uk-margin-large">{{ cars.description|capitalize }}</div>
    <div class="uk-grid">
        <div class="uk-width-medium-1-4 uk-width-1-1 uk-container-center">

            <table class="uk-table uk-table-striped">
                    <tbody>
                    <tr>
                        <td class="uk-width-1-2 uk-text-center">Make</td>
                        <td class="uk-width-1-2 uk-text-center">{{ cars.make|upper }}</td>
                    </tr>
                    <tr>
                        <td class="uk-width-1-2 uk-text-center">Model</td>
                        <td class="uk-width-1-2 uk-text-center">{{ cars.model|capitalize }}</td>
                    </tr>
                    <tr>
                        <td class="uk-width-1-2 uk-text-center">Reg</td>
                        <td class="uk-width-1-2 uk-text-center">{{ cars.reg }}</td>
                    </tr>
                    <tr>
                        <td class="uk-width-1-2 uk-text-center">Mileage</td>
                        <td class="uk-width-1-2 uk-text-center">{{ cars.mileage }}</td>
                    </tr>
                    <tr>
                        <td class="uk-width-1-2 uk-text-center">Color</td>
                        <td class="uk-width-1-2 uk-text-center">{{ cars.color }}</td>
                    </tr>
                    <tr>
                        <td class="uk-width-1-2 uk-text-center">Body type</td>
                        <td class="uk-width-1-2 uk-text-center">{{ cars.body }}</td>
                    </tr>
                    <tr>
                        <td class="uk-width-1-2 uk-text-center">Previous owners</td>
                        <td class="uk-width-1-2 uk-text-center">{{ cars.owners }}</td>
                    </tr>
                    <tr>
                        <td class="uk-width-1-2 uk-text-center">Price</td>
                        <td class="uk-width-1-2 uk-text-center">{{ cars.price }}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="uk-text-center uk-margin-large">
        <a href="/contact" class="uk-button uk-button-primary">Enquire</a>
        <a href="/sales" class="uk-button uk-button-success">Go Back</a>
    </div>


{% endblock %}
