{# admin base template from which all other templates will extend #}
{% set navigation_bar = [['dashboard', 'Dashboard'], ['pages', 'Pages'], ['content', 'Content'], ['themes', 'Themes'], ['search', 'Search']] %}
{# set the active page to be styled. Do this on every different page #}
{% set active_page = active_page|default('dashboard') %}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        CMS | {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/uikit.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/admin_theme.css">
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">

</head>
<body>
    <header class="header">
        {% block header %}
            
            <h1>
                McGoverns
            </h1>
        {% endblock %}
    </header>
    
    <nav>
        <ul class="navbar">
            {% include '_mainNav.html.twig' %}
        </ul>
    </nav>
    {# a sub div to hold a sub nav bar and a search box #}
    <div class="sub-section">
        
    </div>
    <hr>
    {# main content area #}
    <div class="container">
        
        <div class="section">
            
            {% block sidebar %}
                <div class="sub-search">
                    {% block searchbox %}
                        <form id="searchForm">
                            <input type="text" placeholder="Search" class="input-box" onkeyup="showResult(this.value)">
                            <div id="livesearch"></div>
                        </form>
                    {% endblock %}
                </div>
                <div class="sub-info">
                    <p>Welcome,{{ user.username }}</p>
                    <a class="alt-link" href="{{ path('admin_logout') }}">Logout</a>
                    <p class="cust-h">
                        {% block message %}

                        {% endblock %}
                    </p>
                </div>
                
            {% endblock %}
        </div>
        <div class="main-section">
            {% block content %}
            {% endblock %}
        </div>
        <div class="section">
            <h2>CURRENT INFO</h2>
            <p>You have <span class="cust-name">{{ app.pages|length }}</span> active web pages</p>
            {% for page in app.pages %}
                <p>{{ page.pageName }}</p>
            {% endfor %}
            <hr>
            <p>There are <span class="cust-name">{{ app.images|length }}</span> images in the database</p>
            {% for image in app.images %}
                <img src="{{ app.request.basepath }}{{ image.imagePath|raw }}">
            {% endfor %}
            <hr>
            
        </div>
        
    </div>
    
    {# the footer #}
    {% block footer %}
        <footer class="footer">
            &copy; CMS<br>
            {# the twig now function gives the current time with a filter for the current date (taken from the twig docs) #}
            {{ "now"|date(timezone="Europe/Dublin") }}
        </footer>
    {% endblock %}
    {# javascript functions #}
    {% block javascript %}
        <script src="{{ app.request.basepath }}/js/ajax.js"></script>
    {% endblock %}
</body>
</html>