{% extends '_base.html.twig' %}
{% set active_page = "content" %}
{% block title %}
    Admin Pages
{% endblock %}
{% block content %}
    <div class="uk-block-muted uk-block-large">
        <p class="uk-text-center">Welcome, {{ app.user.username }}</p>
        <ul class="uk-flex-center uk-subnav">
            <li><a class="uk-button uk-button-success" href="{{ path('admin_logout') }}"><i class="uk-icon-home"></i> Logout</a></li>
            <li><a class="uk-button uk-button-primary" href="/admin/dashboard"><i class="uk-icon-list"></i> Dashboard</a></li>
        </ul>
        {% if count == 1 %}
            <div class="uk-width-1-2 uk-container-center uk-alert uk-alert-success">
                <p class="uk-text-center">Good job. Theres a new entry on your exhibitions page.</p>
            </div>
        {% endif %}

        <p class="uk-text-center">
            Create a new car in the database and it will be added to your sales page.
        </p>

        <div class="form">
            <form class="uk-form uk-form-horizontal" action=" " method="post">
                {#{{ form_start(form) }}#}
                {{ form_errors(form) }}

                <div class="uk-form-row">
                    {{ form_label(form.make, 'Make:', { 'label_attr': {'class': 'uk-form-label'} }) }}
                    <div class="uk-form-controls">
                        {{ form_widget(form.make) }}
                        {{ form_errors(form.make) }}
                    </div>
                </div>

                <div class="uk-form-row">
                    {{ form_label(form.model, 'Model:', { 'label_attr': {'class': 'uk-form-label'} }) }}
                    <div class="uk-form-controls">
                        {{ form_errors(form.model) }}
                        {{ form_widget(form.model) }}
                    </div>
                </div>
                <div class="uk-form-row">
                    {{ form_label(form.year, 'Year:', { 'label_attr': {'class': 'uk-form-label'}} ) }}
                    <div class="uk-form-controls">
                        {{ form_errors(form.year) }}
                        {{ form_widget(form.year) }}
                    </div>
                </div>
                <div class="uk-form-row">
                    {{ form_label(form.mileage, 'Mileage:', { 'label_attr': {'class': 'uk-form-label'}} ) }}
                    <div class="uk-form-controls">
                        {{ form_errors(form.mileage) }}
                        {{ form_widget(form.mileage) }}
                    </div>
                </div>
                <div class="uk-form-row">
                    {{ form_label(form.fuel, 'Fuel:', { 'label_attr': {'class': 'uk-form-label'}} ) }}
                    <div class="uk-form-controls">
                        {{ form_errors(form.fuel) }}
                        {{ form_widget(form.fuel) }}
                    </div>
                </div>
                <div class="uk-form-row">
                    {{ form_label(form.engine, 'Engine Size:', { 'label_attr': {'class': 'uk-form-label'}} ) }}
                    <div class="uk-form-controls">
                        {{ form_errors(form.engine) }}
                        {{ form_widget(form.engine) }}
                    </div>
                </div>
                <div class="uk-form-row">
                    {{ form_label(form.color, 'Color:', { 'label_attr': {'class': 'uk-form-label'}} ) }}
                    <div class="uk-form-controls">
                        {{ form_errors(form.color) }}
                        {{ form_widget(form.color) }}
                    </div>
                </div>
                <div class="uk-form-row">
                    {{ form_label(form.body, 'Body Type:', { 'label_attr': {'class': 'uk-form-label'}} ) }}
                    <div class="uk-form-controls">
                        {{ form_errors(form.body) }}
                        {{ form_widget(form.body) }}
                    </div>
                </div>
                <div class="uk-form-row">
                    {{ form_label(form.owners, 'Previous Owners', { 'label_attr': {'class': 'uk-form-label'}} ) }}
                    <div class="uk-form-controls">
                        {{ form_errors(form.owners) }}
                        {{ form_widget(form.owners) }}
                    </div>
                </div>
                <div class="uk-form-row">
                    {{ form_label(form.price, 'Price:', { 'label_attr': {'class': 'uk-form-label'}} ) }}
                    <div class="uk-form-controls">
                        {{ form_errors(form.price) }}
                        {{ form_widget(form.price) }}
                    </div>
                </div>



                <div class="form-control">
                    <input class="uk-button uk-button-primary" type="submit" name="submit"/>
                </div>

                {#{{ form_end(form) }}#}
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
    


{% endblock %}