{% extends '_base.html.twig' %}
{% set active_page = 'cars' %}
{% block title %}
    Admin Cars
{% endblock %}
{% block content %}
    {% if count is defined and count == 1 %}
        <div class="uk-width-1-2 uk-container-center uk-alert uk-alert-success">
            <p class="uk-text-center">Good job. A car record has been deleted.</p>
        </div>
    {% endif %}
    <h2><i>Current cars in the database</i></h2>
    <div class="uk-text-center">
        <h2>Filters</h2>
    </div>    <!-- Filter Controls -->
    <ul id="filter" class="uk-flex-center uk-subnav uk-subnav-pill">
        <li data-uk-filter="" class="uk-active"><a href=""><i>No Filter</i></a></li>
        <li data-uk-filter="petrol"><a href="">Petrol</a></li>
        <li data-uk-filter="diesel"><a href="">Diesel</a></li>
    </ul>
    <div class="uk-grid uk-grid-width-medium-1-4 uk-grid-width-1-2 uk-grid-small" data-uk-grid="{controls: '#filter'}">
        {% for car in cars %}
        <div data-uk-filter="{{ car.fuel }}">
            <div class="uk-panel-box panel">
                <ul class="uk-list uk-text-right">
                    <img class="uk-thumbnail uk-align-medium-left car-thumbnail" src="{{ app.request.basepath }}/{{ car.image|raw }}">
                    <li>{{ car.make|upper }}</li>
                    <li>{{ car.model|capitalize }}</li>
                    <li>{{ car.engine }} litre</li>
                    <li>{{ car.reg }}</li>
                    <li>{{ car.fuel|capitalize }}</li>
                    <li>{{ car.owners }}</li>
                    <li>{{ car.mileage }}</li>
                    <li>{{ car.year }}</li>
                    <li>&euro;{{ car.price }}</li>
                    <li>{{ car.description }}</li>
                </ul>
                <a class="uk-button uk-button-danger" href="{{ app.request.basepath }}/admin/process-delete-content/{{ car.id }}" onclick="return confirm('Sure you want to delete this post?');">Delete</a>
                <a class="uk-button uk-button-success" href="/admin/edit-car/{{ car.id}}">Edit</a>
            </div>
        </div>



        {% endfor %}



                    {#<a class="alt-link" href="/admin/view-single-content/{{ content.contentId }}"><span class="button">View</span></a>#}

    </div>
{% endblock %}