{% extends '_base.html.twig' %}
{% set active_page = 'cars' %}
{% block title %}
    Admin Cars
{% endblock %}
{% block content %}
    {% if count is defined and count == 1 %}
        <div class="uk-width-1-2 uk-container-center uk-alert uk-alert-success">
            <p class="uk-text-center">Good job. A car record has been deleted.</p>
        </div>
    {% endif %}
    <h2>Current cars in the database</h2>
    
    <table class="uk-table">
        <caption>All cars</caption>
        <thead>
        <tr>
            <th>Car reg</th>
            <th>Make</th>
            <th>Model</th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}


        <tr class="uk-table-middle">
            <td>{{ car.reg }}</td>
            <td>{{ car.make|upper }}</td>
            <td>{{ car.model|capitalize }}</td>
            <td><a class="uk-button uk-button-danger" href="{{ app.request.basepath }}/admin/process-delete-content/{{ car.id }}" onclick="return confirm('Sure you want to delete this post?');">Delete</a></td>
            <td><a class="uk-button uk-button-small" href="/admin/edit-car/{{ car.id}}">Edit</a></td>
        </tr>
        {% endfor %}
        </tbody>



                    {#<a class="alt-link" href="/admin/view-single-content/{{ content.contentId }}"><span class="button">View</span></a>#}

            


    </table>
{% endblock %}