{% extends '_base.html.twig' %}


{% block title %}
Admin Pages
{% endblock %}

{% block content %}




        {% for content in allcontent %}
        <div class="delete-box">
        <p>
            {{ content.contentId }}
        </p>
        <p>
            {{ content.contentItemTitle }}
        </p>
        <p>
            {{ content.contentItem }}
        </p>
        <p>
            {{ content.created }}
        </p>
        <a href="/admin/process-delete-content/{{ content.contentId }}">Delete?</a>
</div>

{% endfor %}

        {% if result is defined %}
        {{ result }}
        {% endif %}
    </p>


        <p>


        </p>







{% endblock %}
