{% extends '_base.html.twig' %}
{% set active_page = 'content' %}
{% block title %}
    Admin Pages
{% endblock %}
{% block content %}
    <h2>EDIT CONTENT</h2>
    <form class="editContentForm" action="/admin/process-edit-content" method="post">
            <p>
                Pagename<br>
                <input type="radio" name="pageName" value="{{ content.pageName }}" checked><span class="cust-name">{{ content.pageName }}</span><br>
            </p>
            <p>
                Content type<br>
                <input class="input-box" type="text" name="contentType" value="{{ content.contentType }}">
            </p>
            <p>
                Content title<br>
                <input class="input-box" type="text" name="contentItemTitle" value="{{ content.contentItemTitle }}">
            </p>
            <p>
                Content Body<br>
                <textarea class="input-box text-area" type="textarea" name="contentItem">{{ content.contentItem }}</textarea>
            </p>
            <p>
                <input type="hidden" name="contentId" value="{{ content.contentId }}">
                <input class="input-box" type="submit"  value="Edit Content">
            </p>
        </form>
    <p>
        {% if result is defined %}
            {{ result }}
        {% endif %}
    </p>

{% endblock %}