{% extends '_base.html.twig' %}
{% set active_page = 'images' %}
{% block title %}
    Admin Content
{% endblock %}
{% block content %}
    
    {#<p>You can add an image to an article here. Select your image and car and press the add button.</p>#}
    {##}
    {#<form class="uk-form" name="addImageForm" action="/admin/add-image" method="post">#}
        {#<p>Image to add</p>#}
        {#{% for image in images %}#}
            {#<div class="uk-panel">#}
                {#<img class="uk-thumbnail uk-thumbnail-small" src="{{ app.request.basepath }}{{ image.imagePath|raw }}"><br>#}
                {#<input type="radio" name="imagePath" value="{{ image.imagePath }}">#}
            {#</div>#}
        {#{% endfor %}#}
            {#<p>Car to add too</p>#}
        {#{% for car in cars %}#}

            {#<p><input type="radio" name="id" value="{{ car.id }}">{{ car.make }}</p>#}

        {#{% endfor %}#}
        {#<input style="width: 10rem; height: 3.2rem;" type="submit"  value="Add">    #}
    {#</form>       #}
    <div id="message" class="uk-notify"></div>
    <div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-4" data-uk-grid>
    {% for image in images %}

        <figure class="uk-overlay uk-overlay-hover uk-thumbnail">
        <img src="{{ app.request.basepath }}{{ image.imagePath|raw }}"><br>
            <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-top uk-overlay-slide-top">
                <a id="delete-image" href="/admin/delete-image/{{ image.id }}"><i class="uk-icon-trash"> Trash</i></a><br>
                <i class="uk-icon-plus-square"> Add</i>
            </figcaption>
        </figure>

    {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $('#delete-image').on('click', function(event){
                event.preventDefault();
                var href = $(this).attr('href');

                console.log(href);

                var parent = $(this).parent();
                $.ajax({
                    action: href,
                    method: "GET",
                    dataType: "Text",
                    error: function(){
                        $('#message').html('<p>An error occurred with the request</p>');
                    },
                    success: function(){
                        parent.slideUp(300, function(){
                            parent.remove();
                            $('#message').html('<p>Image was deleted successfuly</p>');
                        })

                    }
                    });
                });
            });

    </script>
{% endblock %}