{# the main content block. Included for all pages #}
{% if content is defined %}
    {% for con in content %}
        <article class="section">
            <a href="/{{ con.pageName }}/{{ con.contentId }}">{{ con.contentItemTitle }}</a>
            <p>
                {{ con.contentItem|slice(0,100) }}...<a href="/{{ con.pageName }}/{{ con.contentId }}">read more</a>
            </p>
            <p>
                {{ con.created }}
                <img class="cal-icon" src="{{ app.request.basepath }}/images/calendar.svg" alt="calender pic"/>
            </p>
            <div class="comment-box">
                <p>
                    comments:
                </p>
            </div>
        </article>
    {% endfor %}
    {% for con in content %}
    <article class="section">
            
                <a href="/{{ con.pageName }}/{{ con.contentId }}">{{ con.contentItemTitle }}</a>
            {% endfor %}
        </article>
{% endif %}
