{% extends 'base.html.twig' %}

{% set active_page = pageName %}

{% block title %}
{{ active_page }}
{% endblock %}

{% block subheading %}
    <h2>{{ title }}</h2>
{% endblock %}

{% block content %}
    <article class="main-section">
        	{# the paragraph filter is an extension registered in index.php line 55 #}
        	{# taken from https://github.com/jasny/twig-extensions #}
            {{ article }}
        
        <p class="created">
            This article was created on: {{ created }}
        </p>
    </article>
    <article class="side-section">
                <h2>Older Posts</h2>
                <a class="readmore-link" href="/{{ pageName }}/{{ contentId }}">{{ title }}</a>
            
        </article>
{% endblock %}
