{# base template #}
{% set active_page = pageName|default('home') %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The {{ active_page }}page for McGovern's Garage, Dunleer, specialising in car repairs, sales and servicing.">
    <meta name="author" content="web dev by neil mcmahon.">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>McGoverns Garage |{% block title %}{% if pageName is defined %}{{ pageName }}{% endif %}{% endblock %}</title>


    <link rel="stylesheet" href="{{ app.request.basepath }}/css/uikit.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/components/sticky.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/main.css">
    {# site fonts #}
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/js/uikit.min.js"></script>
    <script src="{{ app.request.basepath }}/js/components/sticky.min.js"></script>
    <script src="{{ app.request.basepath }}/js/components/grid.min.js"></script>

</head>
<body class="site">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <main class="site-content">

        {# the navbar #}
        <nav id="main-nav" class="uk-navbar" data-uk-sticky>
            {% block navbar %}
                {% include 'navbar.html.twig' %}
            {% endblock %}
        </nav>


        {% block unique_page_content %}

        {% endblock %}

        {% block individual_page_heading %}

        {% endblock %}


                {% block search %}
                <div class="uk-width-medium-4-4">
                    <div class="uk-panel uk-panel-box">
                    <h3>Search site</h3>

                    <form id="searchForm">
                        <input type="text" placeholder="Search" class="input-box" onkeyup="showResult(this.value)">
                        <div id="livesearch"></div>
                    </form>
                {% endblock %}

                {% block sidebar %}
                    <h3>All Posts</h3>
                    {% if allContent is defined %}
                        {% for con in allContent %}
                            <a class="readmore-link" href="/{% for page in app.pages %}{% if page.pageName == con.pageName %}{{ page.pageRoute }}{% endif %}{% endfor %}/{{ con.contentId }}">{{ con.contentItemTitle }}...</a><small>{{ con.created }}</small><br>
                        {% endfor %}
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </main>
    {# the footer #}
    <footer class="uk-grid footer">
        {% include 'footer.html.twig' %}
    </footer>
    {# javascript functions #}
    {# the javscript functions will not be available on every page #}
    {# so when they're needed, include them in a block in a template #}
    {% block javascript %}
        <script src="{{ app.request.basepath }}/js/ajax.js"></script>
    {% endblock %}
</body>
</html>