{# base template #}
{% set active_page = pageName|default('home') %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The {{ active_page }}page for McGovern's Garage, Dunleer, specialising in car repairs, sales and servicing.">
    <meta name="author" content="web dev by neil mcmahon.">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>McGoverns Garage |{% block title %}{% endblock %}</title>


    <link rel="stylesheet" href="{{ app.request.basepath }}/css/uikit.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/components/sticky.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/main.css">

    {# site fonts #}
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ app.request.basepath }}/js/uikit.min.js"></script>
    <script src="{{ app.request.basepath }}/js/components/sticky.min.js"></script>
    <script src="{{ app.request.basepath }}/js/components/grid.min.js"></script>
    <script src="{{ app.request.basepath }}/js/components/notify.min.js"></script>



</head>
<body class="site">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <main class="site-content">

        {# the navbar #}
        <nav id="main-nav" class="uk-navbar" data-uk-sticky>
            {% block navbar %}
                {% include 'navbar.html.twig' %}
            {% endblock %}
        </nav>


        {% block unique_page_content %}

        {% endblock %}

        {% block individual_page_heading %}

        {% endblock %}
                {% block search %}
                        <div class="uk-container uk-container-center uk-margin-large-top uk-margin-large-bottom">
                            <div class="uk-block uk-text-center search-box">
                                <h3>Search</h3>
                                <p>use our search feature to quickly look up in-stock cars.</p>
                                <p>(works best if you try a car make e.g. Kia)</p>
                                <form class="uk-search">
                                    {#<input id="livesearch" type="search" placeholder="Search.." onkeyup="showResult(this.value)">#}
                                    <input class="uk-search-field dropdown" type="search" onkeyup="showResult(this.value)">

                                    <div>
                                        <ul class="dropdown-content">
                                            <li id="livesearch"></li>
                                        </ul>
                                    </div>
                            </form>

                            </div>
                        </div>
                {% endblock %}



    </main>
    {# the footer #}
    <footer class="uk-flex uk-flex-space-between footer uk-cover-background uk-contrast" style="height:200px; background-image: url(/images/background_road.png);">
        {% include 'footer.html.twig' %}
    </footer>
    {# javascript functions #}
    {# the javscript functions will not be available on every page #}
    {# so when they're needed, include them in a block in a template #}
    {% block javascript %}
        <script src="{{ app.request.basepath }}/js/ajax.js"></script>
    {% endblock %}
</body>
</html>