{# the main content block. Included for all pages #}
{% if content is defined %}

    {% for con in content %}
       
        <article class="section">
            <figure>
                <img src="{{ app.request.basepath }}{{ con.imagePath|raw }}">
            </figure>
            <h2>{{ con.contentItemTitle }}</h2>
            
            <p>
                {{ con.contentItem|slice(0,100)|code('php') }}...<a class="readmore-link" href="/{% for page in app.pages %}{% if page.pageName == con.pageName %}{{ page.pageRoute }}{% endif %}{% endfor %}/{{ con.contentId }}">read more</a>
            </p>
            <p>
                {{ con.created }}

            </p>


        </article>
    
    {% endfor %}

{% endif %}
