{% extends 'base.html.twig' %}

{% set active_page = pageName %}

{% block title %}
{{ active_page }}
{% endblock %}



{% block content %}
    <article class="section">
        	{# the paragraph filter is an extension registered in index.php line 55 #}
        	{# taken from https://github.com/jasny/twig-extensions #}
            <h2>{{ title }}</h2>
            <img src="{{ app.request.basepath }}{{ image|raw }}">
            {{ article|code('javascript')|linkify }}
        
        <p>
            <small>This article was created on: {{ created }}</small>
        </p>
    </article>

{% endblock %}
